apiVersion: v1
kind: Secret
metadata:
  name: chis-secret
  namespace: chis
type: Opaque
data:
  POSTGRES_USER: <base64-encoded-value>
  POSTGRES_PASSWORD: <base64-encoded-value>
  JWT_SECRET: <base64-encoded-value>
  DB_URL: <base64-encoded-value>